.largest {
  font-size: $size-largest !important;
}
.larger {
  font-size: $size-larger !important;
}
.large {
  font-size: $size-large !important;
}
.largish {
  font-size: $size-largish !important;
}
.smallish {
  font-size: $size-smallish;
}
.small {
  font-size: $size-small;
}
.smaller {
  font-size: $size-smaller;
}
.smallest {
  font-size: $size-smallest;
}

